<!--suppress TypeScriptUnresolvedVariable -->
<app-spinner *ngIf="spinner$ | async"></app-spinner>
<section class="content-header">
    <h1>
      Students
      <small>Students Database</small>
    </h1>
    <ol class="breadcrumb">
      <li><a routerLink="/base/dashboard" href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active" routerLink="students-database">students-database</li>
    </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">

      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Data Table With Full Features</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Matric Number</th>
                <th>Surname</th>
                <th>First Name</th>
                <th>Other Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Faculty</th>
                <th>Department</th>
                <th>Level</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of students">
                <td><a  [routerLink]="['/base/student-profile']" [state]="{ id: student.id}" href="">{{student.matric_number}}</a></td>
                <td>{{student.surname}}</td>
                <td>{{student.first_name}}</td>
                <td>{{student.other_name}}</td>
                <td>{{student.phone_number}}</td>
                <td>{{student.email}}</td>
                <td>{{student.faculty}}</td>
                <td>{{student.department}}</td>
                <td>{{student.level}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Matric Number</th>
                <th>Surname</th>
                <th>First Name</th>
                <th>Other Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Faculty</th>
                <th>Department</th>
                <th>Level</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>

<app-register-student></app-register-student>
