

<div class="modal fade" id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="newUserModalLabel" aria-hidden="true">
  <app-spinner *ngIf="spinner$ | async"></app-spinner>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form role="form" (ngSubmit)="registerStudent()" [formGroup]="studentRegistrationForm" enctype="multipart/form-data">
        <div class="box-body">

          <div class="form-group">
            <label for="matric_number">Matric Number</label>
            <input type="text" class="form-control" formControlName="matric_number" id="matric_number" placeholder="Enter Matric Number">
            <div *ngIf="matric_number" class="invalid-feedback" style="color: red" >{{matric_number}}</div>
          </div>

          <div class="row">
            <div class="form-group col-xs-5">
              <label for="surname">Surname</label>
              <input type="text" class="form-control" formControlName="surname" id="surname" placeholder="Enter Surname">
              <div *ngIf="surname" class="invalid-feedback" style="color: #ff0000" >{{surname}}</div>
              <div *ngIf="studentRegistrationForm.controls['surname'].invalid" class="invalid-feedback" style="color: #ff0000" >Please Enter a Valid Name</div>
            </div>

            <div class="form-group col-xs-4">
              <label for="first_name">First Name</label>
              <input type="text" class="form-control" formControlName="first_name" id="first_name" placeholder="Enter First Name">
              <div *ngIf="first_name" class="invalid-feedback" style="color: red" >{{first_name}}</div>
            </div>

            <div class="form-group col-xs-3">
              <label for="other_name">Other Name</label>
              <input type="text" class="form-control" formControlName="other_name" id="other_name" placeholder="Enter Other Name">
              <div *ngIf="other_name" class="invalid-feedback" style="color: red" >{{other_name}}</div>
            </div>

          </div>

          <div class="row">
            <div class="form-group col-xs-6">
              <label for="email">Email address</label>
              <input type="email" class="form-control" formControlName="email" id="email" placeholder="Enter email">
              <div *ngIf="email" class="invalid-feedback" style="color: red" >{{email}}</div>
            </div>

            <div class="form-group col-xs-4">
              <label for="phone_number">Phone Number</label>
              <input type="number" class="form-control" formControlName="phone_number" id="phone_number" placeholder="Enter Phone Number">
              <div *ngIf="phone_number" class="invalid-feedback" style="color: red" >{{phone_number}}</div>
            </div>
          </div>


          <div class="form-group">
            <label for="faculty">Faculty</label>

            <select class="form-control" formControlName="faculty" id="faculty" style="width: 50%;">
              <option  *ngFor="let fac of faculties" [value]="fac.value">
                {{fac.viewValue}}
              </option>
            </select>
          </div>


          <div class="form-group">
            <label for="department">Department</label>
            <input type="text" class="form-control" formControlName="department" id="department" placeholder="Enter Department">
          </div>

          <div class="row">
            <div class="form-group col-xs-4">
              <label for="admission_session">Admission Session</label>
              <select class="form-control" formControlName="admission_session" id="admission_session" style="width: 50%;">
              <option value="2018/2019">2018/2019</option>
              <option value="2019/2020">2019/2020</option>
              <option value="2021/2022">2021/2022</option>
              <option value="2022/2023">2022/2023</option>
            </select>
            </div>

            <div class="form-group col-xs-4">
              <label for="level">Level</label>
              <p><select class="form-control" formControlName="level" id="level" style="width: 50%;">
                <option value="100">100 Level</option>
                <option value="200">200 Level</option>
                <option value="300">300 Level</option>
                <option value="400">400 Level</option>
                <option value="500">500 Level</option>
              </select></p>
            </div>

            <div class="form-group col-xs-4">
              <label for="gender">Gender</label>
              <p><select class="form-control" formControlName="gender" id="gender" style="width: 50%;">
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select></p>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-xs-4">
              <label for="nationality">Nationality</label>
              <input type="text" class="form-control" formControlName="nationality" id="nationality" placeholder="Enter Nationality">
            </div>

            <div class="form-group col-xs-4">
              <label for="state_of_origin">State Of Origin</label>
              <input type="text" class="form-control" formControlName="state_of_origin" id="state_of_origin" placeholder="Enter State">
            </div>

            <div class="form-group col-xs-4">
              <label for="lga">LGA</label>
              <input type="text" class="form-control" formControlName="lga" id="lga" placeholder="Select LGA">
            </div>
          </div>

          <div class="form-group ">
              <label for="resident_address">Resident Address</label>
              <input type="text" class="form-control" formControlName="resident_address" id="resident_address" placeholder="Enter Address">
          </div>

          <div class="row">
            <div class="form-group col-xs-6">
            <label>Date Of Birth</label>
            <div class="input-group date">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <input type="date" formControlName="date_of_birth" class="form-control pull-right" >
              <div *ngIf="date_of_birth" class="invalid-feedback" style="color: red" >{{date_of_birth}}</div>
            </div>
            </div>

            <div class="form-group col-xs-6">
              <label for="photo">Photo Upload</label>
              <input type="file" id="photo" (change)="photoUpload($event)">
              <p class="help-block">Max Size. 3Mb</p>
            </div>

          </div>

        </div>
        <!-- /.box-body -->

        <div class="box-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<!--        <button type="button" class="btn btn-primary">Send message</button>-->
      </div>
    </div>
  </div>
</div>
