<section class="content-header">
    <h1>
        User Profile
      </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/base/dashboard" href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a routerLink="/base/students-database" href="#">Students' Database</a></li>
        <li class="active">User profile</li>
    </ol>
</section>


<section class="content">

  <div class="alert alert-danger alert-dismissible" hidden>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4><i class="icon fa fa-ban"></i> Error!</h4>
    <span id="text1">{{responseMessage}}</span>
  </div>

  <div class="alert alert-success alert-dismissible" hidden>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4><i class="icon fa fa-ban"></i> Successful!</h4>
    {{responseMessage}}
  </div>

    <div class="row">
        <div class="col-md-3">

            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile" >
                    <div [ngClass]="{'bg-red': student.is_flaged }">
                      <img data-toggle="tooltip" data-placement="bottom" data-html="true" title=" Click to Change Profile Image" class="profile-user-img img-responsive img-circle" (click)="triggerUpload()" src="{{student?.photo? server_url + student.photo:'../../../../assets/dist/img/avatar.png'}}" style="width: 400px; height: 380px" alt="profile picture">
                        <input type="file" id="photoUpload" (change)="photoUpload($event)" style="display: none" >
                    </div>


                    <h3 style="font-size:40px;" class="profile-username text-center">{{student?.surname? student.surname:''}} {{student?.first_name? student.first_name:''}}</h3>

                    <p class="text-muted text-center" style="font-size: 20px">{{student?.other_name? student.other_name:''}}</p>

                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Matric Number</b> <a class="pull-right">{{student?.matric_number? student.matric_number:''}}</a>
                        </li>
                        <li class="list-group-item">
                            <b>RFID CODE</b> <a class="pull-right">{{student?.rfid_code? student.rfid_code:''}}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Last Scan</b> <a class="pull-right">{{student?.last_scan? student.last_scan:''}}</a>
                        </li>
                    </ul>
                    <div class="row">
                      <a href="#" *ngIf="!student.is_flaged" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#flagStudentModal" class="btn btn-danger btn-block"><b>Flag Student</b></a>
                      <a href="#" *ngIf="student.is_flaged" (click)="flagStudent($event, '')" class="btn btn-warning btn-block"><b>UnFlag Student</b></a>
                      <a href="#" (click)="requestToScanCard($event)" class="btn btn-primary btn-block"><b>Update RFID Code</b></a>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#profile_details" data-toggle="tab">Profile Details</a></li>
                    <li><a href="#courses" data-toggle="tab">Courses</a></li>
                    <li><a href="#edit_profile" data-toggle="tab">Edit Profile</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="profile_details">

                        <!-- The timeline -->
                        <ul class="timeline timeline-inverse">
                          <!-- timeline time label -->
                          <li class="time-label">
                            <span class="bg-green">
                              Personal Data
                            </span>
                            <span *ngIf="student.is_flaged" class="bg-red text-bold" style="margin-left: 25%; font-size: larger">Student is Flaged For {{student.is_flaged}} Reason</span>
                          </li>
                          <!-- /.timeline-label -->
                          <!-- timeline item -->
                          <li>
                            <i class="fa fa-envelope bg-blue"></i>

                            <div class="timeline-item">
                              <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                              <h3 class="timeline-header"><a href="#">NAME</a></h3>

                              <div class="timeline-body">
                                <h4 class="timeline-header"><a href="#">Surname:</a> <span class="time-label ">{{student.surname}}</span></h4>
                                <h4 class="timeline-header"><a href="#">First Name:</a> <span class="time-label ">{{student.first_name}}</span></h4>
                                <h4 class="timeline-header"><a href="#">Other Name:</a> <span class="time-label ">{{student.other_name}}</span></h4>
                              </div>
                              <div class="timeline-footer">
                                <a class="btn btn-primary btn-xs">View more</a>
                                <a class="btn btn-danger btn-xs">Delete</a>
                              </div>
                            </div>
                          </li>
                          <!-- END timeline item -->
                          <!-- timeline item -->
                          <li>
                            <i class="fa fa-user bg-aqua"></i>

                            <div class="timeline-item">
                              <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
                              <h3 class="timeline-header no-border"><a href="#">BIO</a></h3>

                              <div class="timeline-body">
                                <h4 class="timeline-header"><a href="#">Gender:</a> <span class="time-label ">{{student.gender}}</span></h4>
                                <h4 class="timeline-header"><a href="#">Date Of Birth:</a> <span class="time-label ">{{student.date_of_birth}}</span></h4>
                              </div>
                            </div>
                          </li>
                          <!-- END timeline item -->
                          <!-- timeline item -->
                          <li>
                            <i class="fa fa-comments bg-yellow"></i>

                            <div class="timeline-item">
                              <span class="time"><i class="fa fa-contao"></i> 27 mins ago</span>
                              <h3 class="timeline-header no-border"><a href="#">CONTACT</a></h3>

                              <div class="timeline-body">
                                <h4 class="timeline-header"><a href="#">Email:</a> <span class="time-label ">{{student.email}}</span></h4>
                                <h4 class="timeline-header"><a href="#">Phone Number:</a> <span class="time-label ">{{student.phone_number}}</span></h4>
                                <h4 class="timeline-header"><a href="#">State Of Origin:</a> <span class="time-label ">{{student.state_of_origin}}</span></h4>
                                <h4 class="timeline-header"><a href="#">Local Government:</a> <span class="time-label ">{{student.lga}}</span></h4>
                                <h4 class="timeline-header"><a href="#">Residential Address:</a> <span class="time-label ">{{student.resident_address}}</span></h4>
                              </div>
                              <div class="timeline-footer">
                                <a class="btn btn-warning btn-flat btn-xs">More Details</a>
                              </div>
                            </div>
                          </li>
                          <!-- END timeline item -->
                          <!-- timeline time label -->
                          <li class="time-label">
                            <span class="bg-green">
                              Acamdmic Data
                            </span>
                          </li>
                          <!-- /.timeline-label -->
                          <!-- timeline item -->
                          <li>
                            <i class="fa fa-camera bg-purple"></i>

                            <div class="timeline-item">
                              <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>
                              <h3 class="timeline-header"><a href="#">DETAILS</a></h3>
                              <div class="timeline-body">
                                <h4 class="timeline-header"><a href="#">Faculty:</a> <span class="time-label ">{{student.faculty}}</span></h4>
                                <h4 class="timeline-header"><a href="#">Departmentr:</a> <span class="time-label ">{{student.department}}</span></h4>
                                <h4 class="timeline-header"><a href="#">Level:</a> <span class="time-label ">{{student.level}}</span></h4>
                                <h4 class="timeline-header"><a href="#">Entry Session:</a> <span class="time-label ">{{student.admission_session}}</span></h4>
                              </div>
                            </div>
                          </li>
                          <!-- END timeline item -->
                          <li>
                            <i class="fa fa-clock-o bg-gray"></i>
                          </li>
                        </ul>
                    </div>
                    <!-- /.tab-pane -->


                  <!--    Courses Tab   Begin-->

                    <div class="tab-pane" id="courses">
                      <div class="box">
                      <div class="box-header">


                        <div class="col-sm-4">
                          <button class="btn btn-success" data-backdrop="static" data-toggle="modal" data-target="#registerCourseModal">Add Courses
                            <i class="fa fa-plus-square"></i>
                          </button>
                        </div>

                        <h3 class="box-title">Registered Courses</h3>

                        <div class="box-tools">
                          <div class="input-group input-group-sm" style="width: 150px;">
                            <label>
                              <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                            </label>

                            <div class="input-group-btn">
                              <a href="#add_courses" data-toggle="tab" type="button" class="btn btn-default"><i class="fa fa-search"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="box-body table-responsive no-padding">
                        <table class="table table-hover text-center" style="font-size: medium; font-family: Sans-Serif;">
                          <thead>
                            <tr>
                              <th> Course Code </th>
                              <th> Credit Unit </th>
                              <th> Reg Date </th>
                              <th> Course Type </th>
                              <th> Course Title </th>
                            </tr>
                          </thead>
                          <tbody>

                            <tr *ngFor="let rc of student.courses">
                              <td class="delete-item">
                                <img src="./assets/dist/img/close.svg" width="30px" alt="" (click)="deRegisterCourse($event, 'EEE321')">
                                <span>{{rc.course_code}}</span>
                              </td>
                              <td>{{rc.credit_unit}}</td>
                              <td>11-7-2022</td>
                              <td>
                                <span *ngIf="rc.course_type == 'ELECTIVE'" class="label label-success">Elective</span>
                                <span *ngIf="rc.course_type == 'REQUIRED'" class="label label-warning">Required</span>
                                <span *ngIf="rc.course_type == 'COMPULSORY'" class="label label-danger">Compulsory</span>
                              </td>
                              <td>{{rc.course_title}}</td>
                            </tr>

                          </tbody>
                        </table>
                      </div>
                      </div>
                      <div class="text-center text-bold">
                          <h4 style="font-size: 30px" >Total Units Registered <span class="badge bg-red-active" style="font-size: 35px">{{student.total_registered_units}}</span></h4>
                      </div>
                    </div>

<!--                  End of Courses Tab-->

                    <div class="tab-pane" id="edit_profile">
                        <form (ngSubmit)="editStudentProfile()" [formGroup]="editStudentProfileForm" enctype="multipart/form-data" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-3">
                                    <input type="text" formControlName="surname" class="form-control" id="surname" placeholder="surname">
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" formControlName="first_name" class="form-control" id="first_name" placeholder="First Name">
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" formControlName="other_name" class="form-control" id="other_name" placeholder="Other Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Basic Info</label>
                                <div class="col-sm-3">
                                    <input type="text" formControlName="matric_number" class="form-control" id="matric_number" placeholder="Matric Number">
                                </div>
                                <div class="col-sm-3">
                                    <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email">
                                </div>
                                <div class="col-sm-3">
                                    <input type="number" formControlName="phone_number" class="form-control" id="phone_number" placeholder="Phone Number">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Academic Info</label>
                                <div class="col-sm-3">
                                    <input type="text" formControlName="faculty" class="form-control" id="faculty" placeholder="Faculty">
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" formControlName="department" class="form-control" id="department" placeholder="Department">
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" formControlName="level" class="form-control" id="level" placeholder="Level">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Bio Data</label>
                                <div class="col-sm-3">
                                    <input type="text" formControlName="gender" class="form-control" id="gender" placeholder="gender">
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" formControlName="date_of_birth" class="form-control" id="date_of_birth" placeholder="Date Of Birth">
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" formControlName="nationality" class="form-control" id="nationality" placeholder="Nationality">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-danger">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="modal fade" id="flagStudentModal" tabindex="-1" role="dialog" aria-labelledby="flagStudentModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">FLAG STUDENT</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form role="form" (submit)="flagStudent($event, 'selection')" enctype="multipart/form-data">
            <div class="box-body">

              <div class="form-group col-xs-8">
              <label for="reason">Reason</label>
              <p><select class="form-control" id="reason" style="width: 50%;">
                <option value="SECURITY">SECURITY</option>
                <option value="MEDICAL">MEDICAL</option>
                <option value="LIBRARY">LIBRARY</option>
                <option value="CONFIDENTIAL">CONFIDENTIAL</option>
              </select></p>
            </div>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <!--        <button type="button" class="btn btn-primary">Send message</button>-->
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="registerCourseModal" tabindex="-1" role="dialog" aria-labelledby="registerCourseModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addCourseModalLabel">Add Courses</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form role="form" (submit)="registerCourse($event)" enctype="multipart/form-data">
            <div class="box-body">

              <div class="form-group">
                <label for="course">Select Courses</label>
                <select id="course"class="form-control select2" multiple="multiple" data-placeholder="Select a Course"
                        style="width: 100%;">
                  <option *ngFor="let course of courses" value="{{course.course_code}}">{{course.course_code}}</option>
                </select>
              </div>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Register</button>
            </div>
          </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <!--        <button type="button" class="btn btn-primary">Send message</button>-->
          </div>
        </div>
      </div>
    </div>

</section>
